#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{list items:playlists, as:'playlist'}
  <section class="ui segment">
    <h2 class="ui header">
      ${playlist.title} 
    </h2>
      <p> Total Duration: ${playlist.duration} </p>
      <a href="/playlists/${playlist.id}" class="ui icon button">
        <i class="icon folder open"></i>
      </a>
      <a href="/dashboard/deleteplaylist/${playlist.id}" class="ui icon button">
        <i class="icon trash"></i>
      </a>
  </section>
#{/list}
#{addplaylist /}
